:root {
  --primary-color: #CFCFCF;
  --bg: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Instrument Serif", sans-serif;
  font-size: 3.6rem;
  background-color: var(--bg);
  color: #000000;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 7%;
  border-bottom: 2.5px solid #959595;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .logo a {
  font-family: "Italianno", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: var(--bg);
}

.navbaritem {
  display: flex;
}

.navbaritem a {
  border-radius: 10px;
  padding: 8px;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0.8rem;
  color: var(--bg);
}

.navbaritem ul {
  padding: 8px;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0.8rem;
  color: var(--bg)
}

.navbaritem a:hover{ 
  color: var(--primary-color);
  background-color: var(--bg);
}
.navbaricon {
  display: flex;
  align-items: center;
  color: var(--bg);
}

.navbaricon input {
  width: 15rem;
  height: 2.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5rem;
}

/* Bagian Home */
#home {
  margin-top: 30rem ;
  text-align: center;
}

#home h1 {
  margin-top: 5rem; 
  font-size: 5.8rem;
  text-align: center;
  color: #CFCFCF;
}

.pembukaan p {  
  font-size: 2.4rem;
  color: var(--primary-color);
}

.button-container {
  display: center;
  height: 50px;
  width: 150px;
  font-family: "Instrument Serif", sans-serif;
  font-size: 1.4rem;
  color: var(--bg);
  background-color: var(--primary-color);
  border: none;
  border-radius: 2.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



/* Bagian About */
#about {
  background-color: var(--primary-color);
  padding: 90px 7%;
  text-align: left;
  margin: 30rem 10%;
  border-radius: 5rem;
}

#about h1 {
  font-family: "Italianno", sans-serif;
  font-size: 3.9rem;
  margin-bottom: 30px;
  color: var(--bg);
  
}

/* Container untuk foto & teks */
.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/* Foto profil */
.Foto {
  background-color: var(--bg);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Teks deskripsi */
.about-text {
  max-width: 900px;
  text-align: left;
  position: relative;
  margin: 0.8rem;
}

.about-text h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  color:var(--bg);
}

.about-text p {
  font-size: 1.9rem;
  color: var(--bg);
  line-height: 1.6;
}

/* skills */
#skills {
  background-color: var(--primary-color);
  padding: 90px 7%;
  text-align: center;
  margin: 30rem 10%;
  border-radius: 5rem;
}

#skills h1 {
  font-family: "Italianno", sans-serif;
  font-size: 3.9rem;
  margin-bottom: 30px;
  color: var(--bg);
}

.skills-container {
   display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.skills-img {
  border-radius: 5rem;
  width: 17rem;
  height: 17rem;
  margin: 6rem;
}

#Project {
  background-color: var(--primary-color);
  padding: 90px 7%;
  text-align: center;
  margin: 30rem 10%;
  border-radius: 5rem;
}

#Project h1 {
  font-family: "Italianno", sans-serif;
  font-size: 3.9rem;
  margin-bottom: 30px;
  color: var(--bg);
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.project-item {
  background-color: #f0f0f0;
  width: 330px;
  height: 330px;
  border-radius: 5rem;
  }

  #contact {
    justify-content: center;
  width: 64rem;
  height: 64rem;
  background-color: var(--primary-color);
  padding: 90px 7%;
  text-align: left;
  margin: 30rem 30%;
  color: var(--bg);
  border-radius: 5rem;
}

.contact-input {
  display: center;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 4rem;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px #f0f0f0;
  border-radius: 1rem;
}

.contact-message {
    display: center;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 15rem;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px #f0f0f0;
  border-radius: 1rem;
}

.btn-contact {
    height: 50px;
    width: 100px;
    float: right;
    background-color: var(--bg); 
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    color: var(--primary-color);
    font-size: 16px;
}

.btn-contact:hover {
  background-color: #959595;
}

.btn-contact i {
  width: 1rem;
  height: 1rem;
}
footer {
    background-color: var(--primary-color);
    padding: 50px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center; 
}

/* Responsif untuk layar HP */
@media only screen and (max-width: 767px) {
  .about-text {
    text-align: center;
  }
}
