/* /* :root {
  --primary-color: #d9d9d9;
  --bg: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Instrument Serif", sans-serif;
  font-size: 3.6rem;
  background-color: var(--bg);
  color: #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 7%;
  border-bottom: 2.5px solid #959595;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .logo a {
  font-family: "Italianno", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #000000;
}

.navbar .logo a span {
  color: var(--primary-color);
}

.navbaritem {
  display: flex;
}

.navbaritem a {
  display: flex;
  font-size: 1.8rem;
  margin: 0.8rem;
  color: #000000;
}

.navbaritem .item {
  display: flex;
  align-items: center;
}

.navbaricon {
  display: flex;
  align-items: center;
}

.navbaricon input {
  width: 15rem;
  height: 2.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5rem;
}

/* Bagian Home */
#home {
  margin-top: 20rem;
  text-align: center;
}

#home h1 {
  font-size: 5.8rem;
  text-align: center;
}

.pembukaan p {
  font-size: 2.4rem;
  color: #000000;
}

.button-container {
  display: inline-block;
  height: 50px;
  width: 150px;
  font-family: "Instrument Serif", sans-serif;
  font-size: 1rem;
  color: #000000;
  background-color: var(--primary-color);
  border: none;
  border-radius: 2.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Bagian About */
#about {
  background-color: var(--primary-color);
  padding: 90px 7%;
  text-align: center;
  margin: 30rem 10%;
  border-radius: 5rem;
}

#about h2 {
  font-family: "Italianno", sans-serif;
  font-size: 3.9rem;
  margin-bottom: 30px;
  color: #000000;
}

/* Container untuk foto & teks */
.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/* Foto profil */
.Foto {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Teks deskripsi */
.about-text {
  max-width: 900px;
  text-align: left;
  position: relative;
  margin: 0.8rem;
}

.about-text h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #000000;
}

.about-text p {
  font-size: 1.9rem;
  color: #000;
  line-height: 1.6;
}

/* skills */
#skill {
  display: flex;
  background-color: var(--primary-color);
  padding: 90px 7%;
  text-align: center;
  margin: 150px 10%;
  border-radius: 5rem;
}

#skill h2 {
  font-family: "Italianno", sans-serif;
  font-size: 3.9rem;
  margin-bottom: 30px;
  color: #000000;
}

.skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skill-item {
  margin: 20px;
}

.skill-item img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

/* Responsif untuk layar HP */
@media (max-width: 767px ) {
  .about-text {
    text-align: center;
  }
}  */
